body{
    background-color:rgb(75, 74, 74);
    color:rgb(255, 255, 255);
}

.jumbo-col{
    background-color:#B2B5DE;
    box-shadow: 0px 0px 8px 0px #B2B5DE;
    /* background-color:#B2BEB5;
    box-shadow: 0px 0px 8px 0px #B2BEB5; */
}

.back-col{
    background-color: #B2B5DE;
    box-shadow: 0px 0px 8px 0px #B2B5DE;
}

.post-col{
    background-color: #FA8072;
    box-shadow: 0px 0px 8px 0px #FA8072;
}

textarea{
    resize: none;
}


