{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
<title>About</title>
{% endblock title %}


{% block content %}
<div class="col-sm-8">
    <h1 class="text-center my-5 display-4 fw-bold">About Page</h1>
    <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Est vero doloribus sequi nisi esse exercitationem? Odio
        doloremque deserunt dolores quo voluptates ullam. Ea asperiores blanditiis dolorum quisquam saepe sequi sit
        commodi fugiat dolore nam eius rerum velit, perferendis quasi adipisci esse pariatur sunt! Magnam a incidunt
        dolore earum unde debitis!
    </p>
    <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic inventore minus, ipsum quis dolorem illum provident
        aliquam est qui aperiam natus excepturi sequi beatae, accusamus, nobis repudiandae error veritatis sit
        consequuntur velit exercitationem esse. Fugit impedit voluptates, unde quidem veniam quis suscipit ad minima
        architecto similique! Vel laudantium exercitationem accusantium!
    </p>
</div>
{% endblock content %}