{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
<title>SignUp</title>
{% endblock title %}


{% block content %}
<div class="col-sm-8">
    <h1 class="text-center my-5 display-4 fw-bold">SignUp Page</h1>
    <form action="" method="POST" novalidate>
        {% csrf_token %}
        {% for fm in form %}
            <div class="form-group mb-3">
                {{fm.label_tag}} {{fm}}
                {% if fm.errors %}
                    <small class="text-warning">
                        {% for error in fm.errors %}
                            {{error}}
                        {% endfor %}
                    </small>
                {% endif %}
            </div>
        {% endfor %}
        <div class="form-group">
            <input type="submit" value="SignUp" class="btn btn-primary">
        </div>
        

        {% if form.non_field_errors %}
            <small class="text-warning">
                {% for error in form.non_field_errors %}
                    {{error}}
                {% endfor %}
            </small>
        {% endif %}
    </form>
</div>
{% endblock content %}